:root {
    --primary-color: #4c6877;
    --secondary-color: #9eeafd;
    --tertiary-color: #2f3642;
    --background-img-url: url("../images/hero-bg.jpg");
    --shadow-style: 0 0 10px rgba(0, 0, 0, 0.5);
    --headline-style: Helvetica, Arial, sans-serif;
    --text-style: Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--text-style);
}

/* Header Style Begin */
header {
    padding: 15px 0;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 48px;
    padding: 8px 8px 8px 80px;
    color: var(--tertiary-color);
    background: var(--secondary-color);
    font-family: var(--headline-style);
}

header a {
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 40px;
}

header nav ul li a {
    text-decoration: none;
    margin-right: 15px;
    padding: 10px 15px;
    font-weight: light;
    font-size: 1.58vw;
    transition: all 0.6s;
    color: var(--secondary-color);
    font-family: var(--headline-style);
    border-bottom: 2px solid var(--secondary-color);
}

header nav ul li a:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    text-shadow: none;
}
/* Header Style End */

/* Hero Style Start */
.hero {
    height: 250px;
    background-image: url(../images/lernantino_bg_hero.png);
    background-position: right;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.hero-title {
    margin: 3% 5%;
}

.hero-title h1 {
    font-weight: bold;
    font-size: 36px;
    padding: 15px;
    color: var(--tertiary-color);
    background: var(--secondary-color);
    font-family: var(--headline-style);
}
/* Hero Style End */

/* Content Style Begin */
/* Content Style End */

/* Project Content Style Begin */
/* Project Content Style End */

/* Contribution Content Style Begin */
/* Contribution Content Style End */

/* Skills Content Style Begin */
/* Skills Content Style End */

/* Footer Style Begin */
footer {
    background: var(--tertiary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer h2 {
    font-family: var(--headline-style);
    color: var(--primary-color);
    font-size: 36px;
    margin: 0;
    text-shadow: var(--shadow-style);
}
/* Footer Style End */

/* Utility Style Begin */
.flex-row {
    display: flex;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.primary-border {
    border-color: var(--primary-color);
}

.secondary-border {
    border-color: var(--tertiary-color);
}
/* Utility Style End */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }

    .hero-blurb {
        text-align: center;
        width: 100%;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

}