:root {
    --primary-color: #2e80ac;
    --secondary-color: #9eeafd;
    --tertiary-color: #4e586b;
    --background-img-url: url("../images/hero-bg.jpg");
    --shadow-style: 0 0 10px rgba(0, 0, 0, 0.5);
    --headline-style: Helvetica, Arial, sans-serif;
    --text-style: Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--text-style);
}

/* Header Style Begin */
header {
    padding: 15px 0;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 48px;
    padding: 8px 8px 8px 80px;
    color: var(--tertiary-color);
    background: var(--secondary-color);
    font-family: var(--headline-style);
    box-shadow: var(--shadow-style);
}

header a {
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-right: 40px;
}

header nav ul li {
    flex: auto;
}

header nav ul li a {
    text-decoration: none;
    margin-right: 15px;
    padding: 10px 15px;
    font-weight: light;
    font-size: 1.60vw;
    transition: all 0.6s;
    color: var(--secondary-color);
    font-family: var(--headline-style);
    border-bottom: 2px solid var(--secondary-color);
}

header nav ul li a:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    text-shadow: none;
}
/* Header Style End */

/* Hero Style Start */
.hero {
    height: 250px;
    background-image: url(../images/lernantino_bg_hero.png);
    background-position: right;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.hero-title {
    margin: 30px 5%;
}

.hero-title h1 {
    font-weight: bold;
    font-size: 36px;
    padding: 15px;
    color: var(--tertiary-color);
    background: var(--secondary-color);
    font-family: var(--headline-style);
    box-shadow: var(--shadow-style);
}
/* Hero Style End */

/* Content Style Begin */
content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

content section {
    padding: 20px 10px 40px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

content section h2 {
    flex-basis: 300px;
    padding-right: 15px;
    color: var(--tertiary-color);
    font-size: 48px;
    border-right: 5px solid var(--tertiary-color);
    text-align: right;
}

content section div {
    flex: 1;
    padding: 10px 60px;
}
/* Content Style End */

/* About Me Style Begin */
/* About Me Style End */

/* Work Style Begin */
/* Work Style End */

/* Contact Me Style Begin */
/* Contact Me Style End */

/* Resume Style Begin */
/* Resume Style End */

/* Footer Style Begin */
footer {
    background: var(--tertiary-color);
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer h2 {
    font-weight: bold;
    font-size: 36px;
    padding: 8px 8px 8px 60px;
    margin-right: 10%;
    color: var(--tertiary-color);
    background: var(--secondary-color);
    font-family: var(--headline-style);
    flex-basis: 38%;
    box-shadow: var(--shadow-style);
}

footer p {
    font-family: var(--headline-style);
    color: var(--secondary-color);
    font-size: 22px;
    margin: 0;
    padding: 0 10px;
    text-shadow: var(--shadow-style);
    flex-basis: 40%;
    text-align: center;
}
/* Footer Style End */

/* Utility Style Begin */
.flex-row {
    display: flex;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.primary-border {
    border-color: var(--primary-color);
}

.secondary-border {
    border-color: var(--tertiary-color);
}
/* Utility Style End */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        width: 100%;
    }

    header nav ul li {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        border: none;
    }

    header nav ul li a:hover {
        background: var(--secondary-color);
        border: none;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }

    .hero-title {
        text-align: center;
        width: 100%;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

}